<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_show.css">
    <title>Chain Reaction</title>
</head>

<body>
    <nav><button class="homeBtn"><a class="home" href="/" style="text-decoration:none">Home</a></button>
    </nav>
    <h1>
        <%=chain.name%>
    </h1>

    <div class="dropdown">
        <form>
            <select name="items" id="items">
                <option value="Food">Classic Menu</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Dessert">Dessert</option>
                <option vlaue="Drinks">Drinks</option>
            </select>
            <input type="submit" value="View">
        </form>
    </div>

    <% if (menu !==undefined) { %>
        <div class="add">
            <h2>
                <%=menu%>
            </h2>
            <button class="addLink"><a href="/chainreaction/<%=chain._id%>/new?items=<%=menu%>"
                    style="text-decoration:none">Post</a></button>
        </div>

            <ul>
                <% for (i=0; i < chain.reaction.length; i++) { %>

                    <li class="posts">
                        <h3><%=chain.reaction[i].order%> <br>
                        <%=chain.reaction[i].rating%> / 100</h3><br>
                        <p></p><%=chain.reaction[i].comment%></p> <br>
                        <button><a href="/chainreaction/<%=chain._id%>/postedit">Edit Post</a></button>
                    </li>
                    <% } %>
            </ul>
            <% } %>
</body>

</html>